.main {
  /* height: 100vh; */
  /* background-color: #4b526b; */
}

/* 容器样式 */
.container {
  width: 85%;
  margin: 0 auto 10px;
}
.footer {
  display: flex;
  align-items: center;
}
/* 输入框容器 */
.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 40px;
  padding: 5px 10px;
  background-color: white;
  width: 80%;
  height: 80px;
}
.input-container button {
  user-select: none;
}
.input {
  flex-grow: 1;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 30px;
  color: #555;
  padding-left: 30px;
}
.phone {
  font-size: 30px;
  margin: 0 auto;
}

.mic-button {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

/* 录音条样式 */
.recording-bar {
  width: 80%;
  height: 50px;
  background-color: blue;
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.bot {
  color: #fff;
  width: 100%;
  margin-top: 10px;
  font-size: 23px;
  text-align: center;
  color: #fff;
}

.content {
  display: flex;
}

.apis {
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  background-image: url("../../assets/init.gif");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  color: #fff;
}
.api_box {
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  display: flex;
  justify-content: center;
  width: 450px;
}
.right_150 {
  right: -180px;
}
.chat {
  position: absolute;
  left: 40px;
  top: 45%;
  color: #888080;
  height: 450px;
  width: 260px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-x: hidden;
  overflow-y: auto;
}
.chat::-webkit-scrollbar {
  display: none;
}

.chat-item {
  width: fit-content;
  border: 2px solid #ff0;
  border-radius: 24px 24px 24px 0;
  position: relative;
  font-size: 26px;
  text-align: justify;
  padding: 14px;
  margin-bottom: 30px;
}

.guest {
  background-color: #bac7ff;
  border: 2px solid #bac7ff;
}
.guest::after {
  border-color: #bac7ff transparent transparent;
}
.master{
  background-color: #fff;
  border: 2px solid #fff;
}
.master::after {
  border-color: #fff transparent transparent;
}


.audio-visualizer {
  width: 300px;
  height: 30px;
  background-color: #6495ed; /* 蓝色背景 */
  display: flex;
  justify-content: space-between;
}

.visualizer-bar {
  width: 2px;
  height: 100%;
  background-color: white;
  animation: bar-animation 1s infinite ease-in-out;
}

@keyframes bar-animation {
  0% {
    height: 10px;
  }
  50% {
    height: 30px;
  }
  100% {
    height: 10px;
  }
}
