body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #4b526b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* 容器样式 */
.container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  /* background-color: #d0cbcb; */
  width: 85%;
}
.footer {
  display: flex;
  align-items: center;
}
/* 输入框容器 */
.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: white;
  width: 80%;
  height: 100px;
}

.input {
  flex-grow: 1;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 30px;
  color: #555;
}
.phone {
  font-size: 30px;
  margin: 0 auto;
}

.mic-button {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

/* 录音条样式 */
.recording-bar {
  width: 80%;
  height: 50px;
  background-color: blue;
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.bot {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
